/*------------------------------------------------------------------
[Footer Styles Stylesheet]

[Table of contents]

1. Footer General
2. Footer Menu

-------------------------------------------------------------------*/


/*---------------------------------------------*/
/*--- 1. Footer General ---*/
/*---------------------------------------------*/
.page_preloader_off .cryptic_preloader_holder,
.footer_bottom_bar_off footer .footer,
.footer_row1_off .footer-row-1,
.footer_row2_off .footer-row-2,
.footer_row3_off .footer-row-3{
    display: none !important;
}
footer .footer-top h1.widget-title,
footer .footer-top h3.widget-title,
footer .footer-top .widget-title {
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 15px;
}
footer .social-links * {
    color: rgba(255, 255, 255,.7);
    display: inline-table;
    list-style: outside none none;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    margin-left: 1px;
    margin-right: 1px !important;
}
.contact-details i {
    padding-right: 10px;
}
footer .mc4wp-form p {
    color: #ffffff;
    font-size: 15px;
}
footer .social-links {
    margin: 15px 0;
    padding: 0;
}
footer .social-links i {
    font-size: 14px;
    margin: 0;
}
footer .widget_cryptic_recent_entries_with_thumbnail li a{
    color: white;
}
footer .widget_cryptic_recent_entries_with_thumbnail .post-date{
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
}
footer .social-links a:hover{
    border-color: #6cd087;
}
footer .social-links a:hover i.fa {
    color: #6cd087;
}
footer .social-links a i:hover{
    color: #6cd087;
}
footer .shop_feature_description_v2 {
    padding-left: 15px;
}
footer .contact-details p {
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 4px;
    opacity: 1;
    padding: 5px 0px;
}
.footer-logo {
    width: 250px;
}
footer {
    background: #fff;
}
.footer-top .widget_nav_menu li {
    text-align: left;
    width: 100%;
    margin-bottom: 2px;
}
.before_footer{
    background: #e9eaea;
}
.before_footer .widget-title{
    color: black;
}
.footer-top .widget-title:after{
    display: none;
}
.footer-top .widget-title {
    border: 0 none;
    padding: 0;
}
.footer-top .widget_nav_menu ul {
    margin: 0;
    padding: 0;
    text-align: right;
}
.missing-modeltheme-framework footer .widget_nav_menu li {
    padding-left: 0px !important;
}
footer .footer-top .menu .menu-item a:before {
    background: none !important;
}
.footer-top h1.widget-title, 
.footer-top .widget-title {
    font-weight: 400;
    margin: 28px 0;
}
.footer-top .widget_tonsberg_recent_icos_with_thumbnail .widget-title{
    margin-bottom: 36px !important;
}
.prefooter{
    padding: 0;
}
.prefooter .footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.copyright_left {
    float: left;
}
.copyright_right {
    float: right;
}
.copyright_right a{
    margin-left: 15px;
}
/*---------------------------------------------*/
/*--- 2. Footer Menu ---*/
/*---------------------------------------------*/
footer nav.menu {
    background: transparent;
    margin: 0;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer nav ul li a{
    color: #6d7a83;
    font-size: 12px;
    padding-right: 5px;
    margin-right: 5px;
    position: relative;
    display: block;
}
footer nav ul li a:after {
    content: '/';
    display: block;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: -5px;
    color: #6d7a83;
}
footer nav ul li:last-child a:after {
    display: none !important;
}
footer nav ul li:last-child a {
    margin-right: 0;
    padding-right: 0;
}
footer .footer {
    padding: 0 15px;
}
footer .logo, .footer-top h1.widget-title, .footer-top .widget-title {
    margin-top: 0;
}
.sidebar_menu p.copyright {
    color: black;
}
p.copyright {
    font-size: 15px;
    margin: 15px 0;
}
p.copyright a{
    color: #222222;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
p.copyright a:hover{
    color: #6cd087;
}
footer .textwidget > p:last-child {
    margin-bottom: 0;
}
footer .theme-author {
    text-transform: uppercase;
    font-weight: 700;
}
footer.entry-footer {
    background: transparent;
    margin-top: 20px;
}
footer .widget_address_social_icons .social-links li{
  margin-bottom: 5px;
}
footer .widget_recent_entries_with_thumbnail li a {
    color: #ffffff;
    font-weight: bold;
}
.prefooter .widget-title {
    color: #d5e9f8;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
footer nav.menu {
    background: transparent;
    margin: 0;
}
.prefooter{
    padding: 0;
}
.prefooter .container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.widget_text .shop_feature_icon_v2 {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    padding: 7px 0;
    text-align: center;
}
.widget_text .shop_feature_icon_v2 i {
    color: #000000;
    font-size: 25px;
}
.widget_text .shop_feature_v2 {
    margin: 0;
    padding: 0;
}
footer p {
  color: #222222;
  font-size: 20px;
}
footer .textwidget p{
    color: #929292;
    font-size: 15px;
    margin: 15px 0;
}
.active-redux-framework footer .widget_nav_menu[id*="monster-widget"] li::before {
    display: block;
}
.comment-form-author {
    margin-bottom: 0;
}
.active-redux-framework footer .widget_nav_menu li::before {
    display: none;
}
footer .widget_nav_menu li::before{
    display: none;
}
footer .widget_nav_menu li::before,
.sidebar-content .widget_nav_menu li::before,
.widget_pages li::before,
.widget_meta li::before,
.widget_archive li::before,
.widget_categories .cat-item::before {
    font-family: fontawesome;
    margin-right: 8px;
}
footer .widget_recent_entries_with_thumbnail .post-date {
    border: 1px solid rgb(109, 122, 131);
    color: rgba(255, 255, 255, 0.8);
    padding: 1px 7px;
}
footer .footer-top .widget_nav_menu[id*="monster-widget"] .menu .menu-item a:after{
    display: none;
}
footer .footer-top .widget_nav_menu[id*="monster-widget"] .menu .menu-item a{
    font-weight: 400;
    text-transform: none;
        padding-left: 15px;
    line-height: 30px;
    color: rgba(34, 34, 34, .7);
}
footer .textwidget p,
footer .widget_recent_comments > ul,
footer .widget_nav_menu li,
footer .widget_nav_menu li a,
footer .sidebar-content .widget_nav_menu li,
footer .sidebar-content .widget_nav_menu li a,
footer .widget_recent_entries li,
footer .widget_recent_entries li a,
footer .widget_pages li,
footer .widget_pages li a,
footer .widget_meta li,
footer .widget_meta li a,
footer .widget_archive li,
footer .widget_archive li a,
footer .widget_categories .cat-item,
footer .widget_categories li a {
    color: rgba(34, 34, 34, .7);
}
footer .tagcloud > a {
    opacity: 0.9;
}
footer .logo img{
    max-width: 100%;
}
.missing-modeltheme-framework footer .menu > .menu-item {
    padding-left: 22px;
    position: relative
}
footer .widget_nav_menu {
    margin-top: 22px;
}
footer .menu .menu-item a {
    color: rgba(34, 34, 34, .7);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    margin-right: 0px;
    margin-left: 0;
    padding: 5px 0;
    position: relative;
    text-transform: none;
}
.missing-modeltheme-framework footer .menu .menu-item a {
    margin-left: 0;
}
footer nav ul li:last-child a {
    margin-right: 0;
    padding-right: 0;
}
footer .theme-author {
    text-transform: uppercase;
    font-weight: 700;
}
.footer-div-parent {
    position: relative;
}
p.copyright {
    line-height: 70px;
    margin: 0;
}
footer .social-links {
    margin: 0;
    padding: 0;
    line-height: 1;
}
a.logo-footer img {
    max-width: 180px;
}
a.logo-footer {
    line-height: 90px;
}
footer .social-links a {
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 37px;
    line-height: 35px;
    text-align: center;
    width: 37px;
    margin-left: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}
.floating-social-btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.floating-social-btn {
    -webkit-box-shadow: 0 4px 5px -1px rgba(0,0,0,.5);
    box-shadow: 0 4px 5px -1px rgba(0,0,0,.5);
    background: #08c;
    position: fixed;
    right: 22px;
    bottom: 108px;
    width: 55px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    font-size: 40px;
    border-radius: 50%;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.floating-social-btn i {
    color: white;
}
.textwidget a {
    margin-right: 16px;
    font-weight: 400;
    color: #ffffff;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
footer .footer-top .menu  > li.menu-item:hover > a,
footer .widget_nav_menu ul.sub-menu li:hover > a{
    color: rgba(34, 34, 34, 1) !important;
}
.back-to-top {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2), 0px 0px 15px 0px rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2), 0px 0px 15px 0px rgba(0, 0, 0, 0.01);
    background: #222222;
    color: #fff;
}
.footer-before-content {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer-before-content h2 {
    margin-bottom: 30px;
    color: #222222;
}
.footer-before-content .widget-title {
    color: #222222;
}
.textwidget a.sbi_photo{
    margin-right: 0;
}
#sb_instagram a {
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
#sb_instagram a:hover {
    opacity: 0.7 !important;
}
.missing-redux-framework footer p.copyright, .missing-modeltheme-framework footer p.copyright {
    border: 0 none;
}